# O próprio arquivo do Git
.gitignore

# Diretórios locais do Terraform
**/.terraform/*
.terraform.lock.hcl

# Arquivos de estado
*.tfstate
*.tfstate.*

# Variáveis
*.tfvars

# Arquivos diversos
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
Notas.txt

*.png

./assets
./recursos
